.page-header {
    margin-left: 3%;
    margin-right: 3%;
    border-top: 1.5rem solid #333333;

}

.page-container {
    background-color: white;
    margin-left: 3%;
    margin-right: 3%;
    min-height: 60rem;
}

.page-content {
    background-color: #E9EFF1;
    margin-right: 43%;
    margin-left: 1.5%;
    margin-top: 1.5%;
    min-height: 48rem;
    border-radius: 5px;
    border: 1.5px solid #e3eef1;

}

.page-footer {
    margin-left: 3%;
    margin-right: 3%;
    border-bottom: 2.5rem solid #333333;

}

.content-header {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 28pt;
    font-weight: bold;
    padding-top:2.5%;
    padding-left: 1.5%;
}


.content-name {
    font-size: large;
    font-family: sans-serif;
    color: #B81313;
    padding-left: 10pt;
    padding-top: 25px;
}

.content-result {
    font-size: large;
    font-family: sans-serif;
    color: #B81313;
    padding-left: 10pt;
    padding-top: 5px;
    font-weight: bold;
}

.content-description {
    font-size: medium;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: black;
    padding-left: 10pt;
}

.content-table {
    margin-left: 10px;
    margin-right: 10px;
}

.row-1 {
    font-weight: bolder;
    font-size: larger;
}

table {
    border-collapse: collapse;
    margin:0px;
}

td,th {
    display: table-cell;
    vertical-align: inherit;
    border: 1px solid rgb(155, 150, 150);
    border-collapse: collapse;
    padding-right: 148px;
    text-indent: 10px;
    font-weight: medium;
    overflow: hidden;
    white-space: nowrap;
}

th {
    background-color: lightgray;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

td {
    height: 115px;
    position: relative;
    min-width: 100px;
}

input {
    height: 35px;
    width: 100px;
    font-size: 10pt;
    margin-left: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 1px;
    border: 1.5px solid rgb(155, 150, 150);
}

.table-container {
    overflow-x: auto;
    overflow-y: auto;
    margin-right: 10px;
    margin-top: 30px;
}

.score {
    position: absolute;
    left: 10px;
    top: 5px;
}


.total {
    position: absolute;
    bottom:5px;
    left: 10px;
}

.slash {
    position: absolute;
    top: 20px;
    left: 130px;
}

.weighted-btn {
    background-color: #c92525;
    border-radius: 2px;
    border: none;
    height: 30px;
    padding: 5px;
    color: white;
    font-weight: bold;
    float: right;
}

.mean-btn {
    background-color: #c92525;
    border-radius: 2px;
    border: none;
    height: 30px;
    padding: 5px;
    color: white;
    font-weight: bold;
    float: right;
    margin-left: 20px;
    margin-right: 20px;
    padding-left: 20px;
    padding-right: 20px;
}

.mean-btn:hover {
    background-color: green;
    transform: scale(1.1);
}

.mean-btn:active {
    transform: scale(0.9);
}

.weighted-btn:hover {
    background-color: green;
    transform: scale(1.1);
}

.weighted-btn:active {
    transform: scale(0.9);
}


#calc-result {
    margin-left: 10pt;
}