<!DOCTYPE html>
<html >
<head>
<title>Coursys - Formula Tester</title>
<link rel="stylesheet" href="/src/main/resources/public/stylesheets/calculator.css">
<link rel="icon" href="https://www.sfu.ca/favicon.ico">
</head>

<body style="background-color: #A9182A;">
  <header class=page-header></header>
  <div class="page-container">
    <header class="content-header">Grade Calculator V2</header>
      <div class="page-content">
        <h1 class="content-name">Activities</h1>
          <p class="content-description">Give grades to the numeric activities: </p>
        <div class="table-container">
          <table class="content-table">
            <tr class="row-1" style="text-align: left;">
              <th >Name</th>
              <th>Short Name</th>
              <th>Weight</th>
              <th>Grade</th>
              <th>Percent</th>
            </tr>
            <tr>
              <td>Activity 1</td>
              <td>A1</td>
              <td>
                <input type="text">
              </td>
              <td>
                <input type="text" class="score">
                <img src="https://static.thenounproject.com/png/2342342-200.png" width="25" height="25" class="slash" alt="forward slash">
                <input type="text" class="total">
              </td>
              <td></td>
            </tr>
            <tr>
              <td>Activity 2</td>
              <td>A2</td>
              <td>
                <input type="text">
              </td>
              <td>
                <input type="text" class="score">
                <img src="https://static.thenounproject.com/png/2342342-200.png" width="25" height="25" class="slash" alt="forward slash">
                <input type="text" class="total">
              </td>
              <td></td>
            </tr>
            <tr>
              <td>Activity 3</td>
              <td>A3</td>
              <td>
                <input type="text">
              </td>
              <td>
                <input type="text" class="score">
                <img src="https://static.thenounproject.com/png/2342342-200.png" width="25" height="25" class="slash" alt="forward slash">
                <input type="text" class="total">
              </td>
              <td></td>
            </tr>
            <tr>
              <td>Activity 4</td>
              <td>A4</td>
              <td>
                <input type="text">
              </td>
              <td>
                <input type="text" class="score">
                <img src="https://static.thenounproject.com/png/2342342-200.png" width="25" height="25" class="slash" alt="forward slash">
                <input type="text" class="total">
              </td>
              <td></td>
            </tr>
          </table>
        </div>
      </div>
  </div>
  <footer class=page-footer></footer>
</body>

</html>